{% extends "layout.html" %}{% block body %}

<div class="d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-center">
        <img src="static/img/shortURL.png" alt="Banner" style="max-width: 60%;">
    </div>
    <form action="" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3"style="border-radius: 10px;">
            Ingresa URL
            </span>
            <input
            type="text"
            class="form-control ms-2"
            style="border-radius: 10px;"
            pattern=""
            title="URL no válida"
            name="url"
            required>
            <button
            class="btn btn-primary ms-2"
            style="border-radius: 10px;">Acortar URL</button>
        </div>
    </form>
    <div class="input-group mb-3">
        <input
        id="nuevaURL"
        type="text"
        class="form-control ms-2"
        style="border-radius: 10px;"
        value="http://short.url/WvNTeRf">
        <button
        id="btnCopiar"
        onclick="copiarURL()"
        type="button"
        class="btn btn-outline-success ms-2"
        style="border-radius: 10px;">Copiar URL</button>
    </div>
</div>
<script>
  function copiarURL(){
    const nuevaURL = document.getElementById("nuevaURL");
    nuevaURL.select();
    nuevaURL.setSelectionRange(0, 50);
    document.execCommand("copy")

    const btnCopiar = document.getElementById("btnCopiar");
    btnCopiar.innerHTML = "URL Copiada !!!";
    btnCopiar.classList.replace("btn-outline-success", "btn-success")
  }
</script>

{% endblock %}